@import '../core/variables.scss';
@import '../core/mixins.scss';


.cards {
  display              : grid;
  grid-template-columns: 1fr 1fr;
  height               : 150px;
  gap                  : 5px;
  text-align           : center;

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap                  : 18px;


  }

  &__link {
    text-decoration: none;
  }

  &__item {
    width           : 152px;
    height          : 195px;
    background-color: $color-principal-alt;
    border-radius   : 10px;
    margin          : 0 auto;
    
    
    @include tablet {
      width           : 210px;
      height          : 210px;

    }


    &--img {
      margin       : 15px 0 10px;
      border-radius: 10px;
      width        : 120px;

      @include tablet {
      width        : 140px;

      }
    }

    &--title {
      font-size    : 18px;
      margin-bottom: 5px;
      color        : $color-principal;

    }

    &--text {
      font-size: 14px;
      color    : $color-grey;
    }

  }

}